:root {
    --body-width: 1190px;

    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 18px;
    --font-xlarge: 22px;

    --margin-xxsmall: 5px;
    --margin-xsmall: 10px;
    --margin-small: 14px;
    --margin-medium: 20px;
}
.font-small{
    font-size: var(--font-small);
}
.orangered-text{
    color: orangered
}
li{
    list-style:none;
}
.solid-border{
    border-style:solid;
}
.font-medium{
    font-size: var(--font-medium)
}
.font-large{
    font-size: var(--font-large)
}
.bold{
    font-weight: bold;
}
body{
    padding:0px;
    margin:0px;
}
.main-container{
    width: var(--body-width);
    margin-left:auto;
    margin-right:auto;
}
.h-list>li{
    display:inline;
}

.nav-item{
    list-style-type:none;
    margin-top:auto;
    margin-bottom:auto;
    padding:0px;
}
.nav-item>*{    
    padding-right: var(--margin-small);
    font-size: var(--font-small);
    cursor: pointer;
}
.float-left{
    float:left;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
/* .float-right>li:first-child ul{
    right:4px;
    left:auto;
} */
.show{
    display:block;
}
.hide{
    display:none;
}
.cursor-normal{
    cursor: auto;
}
.fixed-top{
    position: fixed;
    top:0;
}
/* left drawer */
.text-content-wrapper {
    border-style: solid;
    height:100%;
}